<!doctype html>
<html lang="hu">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <title>Utazasi iroda project</title>
  </head>
  <body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Utazasi iroda</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Fooldal</a></li>
          <li><a href="/login">Bejelentkezes</a></li>
          <li><a href="/logout">Kijelentkezes</a></li>
          <li><a href="/registration">Regisztracio</a></li>
          <li><a href="/manage_user">Felhasználók kezelése</a></li>
          <li><a href="/insurance">Biztositas</a></li>
          <li><a href="/plan_trip">Utazas keresese</a></li>
          <li class="active"><a href="/accommodations">Szallasok</a></li>
        </ul>
      </div>
  </nav>

  {% if admin_privilege %}
  <h1 class="word">Szallas hozzaadasa</h1>
  <div class="msg">{{ msg }}</div>

  <form action="{{ url_for('accommodations') }}" method="post">
      <input id="id" name="id" type="text" placeholder="Egyedi azonosito" class="textbox"/><br />
      <input id="name" name="name" type="text" placeholder="Szallas nev" class="textbox"/><br />
      <input id="address" name="address" type="text" placeholder="Cime" class="textbox"/><br />
      <input id="price" name="price" type="text" placeholder="Ara" class="textbox"/><br />
      <input id="city" name="city" type="text" placeholder="Varos kodja" class="textbox"/><br />
      <input type="submit" class="btn" value="Szallas felvitele a rendszerbe">
      <br />
  </form>

  {% endif %}

  <div style="margin: auto; width: 50%;">
      <table class="table table-bordered table-striped">
          <tr>
            <th style="text-align:left">Nev</th>
            <th style="text-align:left">Cim</th>
            <th style="text-align:left">Ara</th>
            {% if admin_privilege == True %}
                <th style="text-align:left">Torles</th>
            {% endif %}
         </tr>
          {% for item in accommodations %}
            <tr>
                <td>{{ item[1] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[2] }} Ft</td>
                {% if admin_privilege == True %}
                    <td> <a class="btn btn-primary" role="button" href="{{url_for('delete_accommodation', id=item[0])}}">Torles</a></td>
                {% endif %}
            </tr>
          {% endfor %}
      </table>
  </div>
  </body>
</html>