<!doctype html>
<html lang="hu">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <title>Utazasi iroda project</title>
  </head>
  <body>
  {% include 'navigation.html' %}

  {% if admin_privilege %}
  <h1 class="word">Szallas hozzaadasa</h1>
  <div class="msg">{{ msg }}</div>

  <form action="{{ url_for('accommodations') }}" method="post">
      <input id="id" name="id" type="text" placeholder="Egyedi azonosito" class="textbox"/><br />
      <input id="name" name="name" type="text" placeholder="Szallas nev" class="textbox"/><br />
      <input id="address" name="address" type="text" placeholder="Cime" class="textbox"/><br />
      <input id="price" name="price" type="text" placeholder="Ara" class="textbox"/><br />
      <input id="city" name="city" type="text" placeholder="Varos kodja" class="textbox"/><br />
      <input type="submit" class="btn" value="Szallas felvitele a rendszerbe">
      <br />
  </form>

  {% endif %}

  <div style="margin: auto; width: 50%;">
      <form action="{{ url_for('accommodations') }}" method="post">
        <div class="form-group">
          <label for="city_filter">Város:</label>
          <select class="form-control" name="city_filter" id="city_filter">
            <option selected="" value="any">Minden</option>
            {% if is_user_logged_in %}
            <option value="relevant">Utazásaimhoz</option>
            {% endif %}
            {% for item in cities%}
            <option value="{{ item[1] }}">{{ item[0] }}</option>
            {% endfor %}
          </select>
          <label for="cost_from">Ártól</label>
          <input type="number" class="form-control" name="cost_from" id="cost_from" min="0" value="0">
          <label for="cost_to">Árig</label>
          <input type="number" class="form-control" name="cost_to" id="cost_to" min="0" value="999999">
          <input type="submit" class="btn btn-primary" name="action" value="Szures">
          {% if is_user_logged_in %}
          <input type="submit" class="btn btn-primary" name="action" value="Sajat utazasokhoz">
          {% endif %}
          <input type="submit" class="btn btn-primary" name="action" value="Osszes">
        </div>
      </form>
      <table class="table table-bordered table-striped">
          <tr>
            <th style="text-align:left">Nev</th>
            <th style="text-align:left">Cim</th>
            <th style="text-align:left">Ara</th>
            {% if admin_privilege == True %}
                <th style="text-align:left">Torles</th>
            {% endif %}
         </tr>
          {% for item in accommodations %}
            <tr>
                <td>{{ item[1] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[2] }} Ft</td>
                {% if admin_privilege == True %}
                    <td> <a class="btn btn-primary" role="button" href="{{url_for('delete_accommodation', id=item[0])}}">Torles</a></td>
                {% endif %}
            </tr>
          {% endfor %}
      </table>
  </div>
  </body>
</html>