<!doctype html>
<html lang="hu">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <title>Utazasi iroda project</title>
  </head>
  <body>
    {% include 'navigation.html' %}
    <h1>Connected to: {{ connection }}</h1>
    <h2>{{ msg }}</h2>
    {% if user_points != None %}
    <h3>A pontjaid szama: {{ user_points }}</h3>
    <h3>Pontok beváltása kuponokra lehet</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <td>10% kedvezmény 1000 pont</td>
            <td><a class="btn btn-primary" role="button">Bevált</a></td>
        <tr>
           <td>20% kedvezmény 3000 pont</td>
        <td><a class="btn btn-primary" role="button">Bevált</a></td>
        </tr>
        <tr>
            <td>30% kedvezmény 5000 pont</td>
            <td><a class="btn btn-primary" role="button">Bevált</a></td>
        </tr>
        <tr>
            <td>40% kedvezmény 10000 pont</td>
            <td><a class="btn btn-primary" role="button">Bevált</a></td>
        </tr>

        </tr>
    </table>
     <h4>Az email címedre küldjük a cupont amit személyesen tudsz beváltani majd.</h4>
    {%endif%}

  </body>
</html>