<!doctype html>
<html lang="hu">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <title>Utazasi iroda project</title>
  </head>
  <body>
    {% include 'navigation.html' %}

  {% if admin_privilege %}
  <h1 class="word">Biztositas hozzaadasa</h1>
  <div class="msg">{{ msg }}</div>

  <form action="{{ url_for('insurance') }}" method="post">
      <input id="id" name="id" type="text" placeholder="Egyedi azonosito" class="textbox"/><br />
      <input id="type" name="type" type="text" placeholder="Tipus" class="textbox"/><br />
      <input id="duedate" name="duedate" type="date" placeholder="Lejarat" class="textbox"/><br />
      <input id="price" name="price" type="text" placeholder="Ara" class="textbox"/><br />
      <input type="submit" class="btn" value="Biztositas felvitele a rendszerbe">
      <br />
  </form>

  {% endif %}

  <div style="margin: auto; width: 50%;">
      <table class="table table-bordered table-striped">
          <tr>
            <th style="text-align:left">Tipus</th>
            <th style="text-align:left">Lejarat</th>
            <th style="text-align:left">Erteke</th>
            {% if admin_privilege == True %}
                <th style="text-align:left">Torles</th>
            {% endif %}
         </tr>
          {% for item in insurance %}
            <tr>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }} Ft</td>
                {% if admin_privilege == True %}
                    <td> <a class="btn btn-primary" role="button" href="{{url_for('delete_insurance', id=item[0])}}">Torles</a></td>
                {% endif %}
            </tr>
          {% endfor %}
      </table>
  </div>
  </body>
</html>