<!doctype html>
<html lang="hu">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <title>Utazasi iroda project</title>
  </head>
  <body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Utazasi iroda</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Fooldal</a></li>
          <li><a href="/login">Bejelentkezes</a></li>
          <li><a href="/logout">Kijelentkezes</a></li>
          <li><a href="/registration">Regisztracio</a></li>
          <li class="active"><a href="/insurance">Biztositas</a></li>
        </ul>
      </div>
  </nav>

{{ insurance }}

  </body>
</html>