<!doctype html>
<html lang="hu">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Utazasi iroda project</title>
  </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Bejelentkezes</h1>
             </div></br></br></br>
            <h2 class="word">
                <form action="{{ url_for('login') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="email" name="email" type="text" placeholder="Add meg az email cimed" class="textbox"/></br></br>
                    <input id="password" name="password" type="password" placeholder="Add meg a jelszavad" class="textbox"/></br></br></br>
                    <input type="submit" class="btn" value="Bejelentkezés"></br></br>
                </form>
            </h2>
            <p class="bottom">Nincs még profilod?  <a class="bottom" href="{{url_for('registration')}}"> Regisztrálj itt! </a></p>
          </div>
        </div>
    </body>
</html>