<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Utazasi iroda</a>
      </div>
      <ul class="nav navbar-nav">
        <li {% if active == 'index' %} class="active" {% endif %}><a href="/">Fooldal</a></li>
        <li {% if active == 'login' %} class="active" {% endif %}><a href="/login">Bejelentkezes</a></li>
        <li {% if active == 'logout' %} class="active" {% endif %}><a href="/logout">Kijelentkezes</a></li>
        <li {% if active == 'registration' %} class="active" {% endif %}><a href="/registration">Regisztracio</a></li>
        <li {% if active == 'manage_user' %} class="active" {% endif %}><a href="/manage_user">Felhasználók kezelése</a></li>
        <li {% if active == 'insurance' %} class="active" {% endif %}><a href="/insurance">Biztositas</a></li>
        <li {% if active == 'plan_trip' %} class="active" {% endif %}><a href="/plan_trip">Utazas keresese</a></li>
        <li {% if active == 'accommodations' %} class="active" {% endif %}><a href="/accommodations">Szallasok</a></li>
        {% if admin_privilege %}
        <li {% if active == 'manage_flights' %} class="active" {% endif %}><a href="/manage_flights">Járatok kezelése</a></li>
        {% endif %}
      </ul>
    </div>
</nav>