<!doctype html>
<html lang="hu">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <title>Utazasi iroda project</title>
  </head>
  <body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Utazasi iroda</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Fooldal</a></li>
          <li><a href="/login">Bejelentkezes</a></li>
          <li><a href="/logout">Kijelentkezes</a></li>
          <li><a href="/registration">Regisztracio</a></li>
          <li><a href="/manage_user">Felhasználók kezelése</a></li>
          <li><a href="/insurance">Biztositas</a></li>
          <li class="active"><a href="/plan_trip">Utazas keresese</a></li>
          <li><a href="/accommodations">Szallasok</a></li>
        </ul>
      </div>
  </nav>
  <div style="margin: auto; width: 50%;">
      <table class="table table-bordered table-striped">
          <tr>
            <th style="text-align:left">Honnan</th>
            <th style="text-align:left">Hova</th>
            <th style="text-align:left">Mikor</th>
         </tr>
          {% for trip in trip_list %}
            <tr>
                <td>{{ trip[2] }}</td>
                <td>{{ trip[1] }}</td>
                <td>{{ trip[3] }}</td>
                {% if is_user_logged_in %}
                    <td> <a class="btn btn-primary" role="button" href="{{url_for('reserve_trip', id=trip[0])}}">Utazas foglalasa</a></td>
                {% endif %}
            </tr>
          {% endfor %}
      </table>
  </div>
  </body>
</html>