<!doctype html>
<html lang="hu">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <title>Utazasi iroda project</title>
  </head>
  <body>
  {% include 'navigation.html' %}
  <div style="margin: auto; width: 50%;">
    <form action="{{ url_for('plan_trip') }}" method="post">
      <div class="form-group">
        <label for="owner_filter">Minden/Saját utazások</label>
        <select class="form-control" name="owner_filter" id="owner_filter">
          <option selected="" value="any">Minden</option>
          {% if is_user_logged_in %}
          <option value="relevant">Saját utazások</option>
          {% endif %}
        </select>
        <label for="from_filter">Honnan:</label>
        <select class="form-control" name="from_filter" id="from_filter">
          <option selected="" value="any">Minden</option>
          {% for item in cities%}
          <option value="{{ item[0] }}">{{ item[0] }}</option>
          {% endfor %}
        </select>
        <label for="to_filter">Hova:</label>
        <select class="form-control" name="to_filter" id="to_filter">
          <option selected="" value="any">Minden</option>
          {% for item in cities%}
          <option value="{{ item[0] }}">{{ item[0] }}</option>
          {% endfor %}
        </select>
        <label for="when_filter">Mikor</label>
        <select class="form-control" name="when_filter" id="when_filter">
          <option selected="" value="any">Minden</option>
          {% for item in times %}
          <option value="{{ item[0] }}">{{ item[0] }}</option>
          {% endfor %}
        </select>
      {% if is_user_logged_in %}
      <input type="submit" class="btn btn-primary" name="action" value="Szures">
      <input type="submit" class="btn btn-primary" name="action" value="Sajat utazasok">
      <input type="submit" class="btn btn-primary" name="action" value="Minden jarat">
      
      {% endif %}
      </div>
    </form>

      <table class="table table-bordered table-striped">
          <tr>
            <th style="text-align:left">Honnan</th>
            <th style="text-align:left">Hova</th>
            <th style="text-align:left">Mikor</th>
         </tr>
          {% for trip in trip_list %}
            <tr>
                <td>{{ trip[2] }}</td>
                <td>{{ trip[1] }}</td>
                <td>{{ trip[3] }}</td>
                {% if is_user_logged_in %}
                    <td> <a class="btn btn-primary" role="button" href="{{url_for('reserve_trip', id=trip[0])}}">Utazas foglalasa</a></td>
                {% endif %}
            </tr>
          {% endfor %}
      </table>
  </div>
  </body>
</html>